
.header {
    
}

ul li {
    display: inline;
    padding: 0 20px;
    margin: 0 1px;
}

#nav_button{
    color: black;
    text-decoration: none;
}

#title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#logo {
    border-radius: 30px;
};